<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>HTML5, CSS3, JS Demos, Creations and Experiments | CSSDeck</title>

        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" rel="stylesheet">

        <link href="http://cssdeck.com/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://cssdeck.com/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="http://cssdeck.com/assets/css/style.css?v=514" rel="stylesheet">


        <link href="http://cssdeck.com/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-icon" href="http://cssdeck.com/assets/img/logoTop.png">

        <meta name="keywords" content="css3, html5, css, html, js, creations, collections, information, helping">
        <meta name="description" content="Collection of Awesome CSS and JS Creations to help out frontend developers and designers.">

        <meta name="robots" content="noindex, nofollow">
    </head>
    <body style="" class="">
        <header>
            <div class="logo">
                <a href="/">
                    <img src="/assets/img/logoTop.png" alt="CSSDeck Logo">
                </a>
            </div>

            <ul class="top_nav">
                <li>
                    <a href="/labs" style="font-weight: bold;">New</a>
                </li>
            </ul>

            <ul class="extra">
                <div class="upps"><a href="/signup" class="ups">Sign Up</a></div>
                <li><a href="/login">Login</a></li>
            </ul>
        </header>

        <div id="main" style="padding: 20px 50px 30px 20px;">

            <div id="content" style="max-width: 400px">
                <div class="profile_header">
                    <h1>Login <small>to multi choice manager</small></h1>
                </div>

                <div class="form-signin">
                    <form class="shift-left" method="post">
                        <input type="hidden" name="remember" value="1">
                        <div>
                            <label for="username">Username/Email:</label>
                            <input type="text" id="username" name="username" value="" style="
                                height: 37px;
                                width: 100%;
                            ">
                        </div>

                        <div>
                            <label for="password">Password:</label>
                            <input type="password" name="password" id="password" style="
                                height: 37px;
                                width: 100%;
                            ">
                        </div>

                        <div>
                            <input type="submit" name="submit" value="Login" class="btn">
                        </div>

                        <div class="form_rel_links">
                            <a href="http://cssdeck.com/login/fpass">Forgot your password ?</a>
                                |
                            <a href="http://cssdeck.com/signup">Register Now</a>
                                |
                            <a href="http://cssdeck.com/auth/twitter">Twitter Login</a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <footer class="footer">
            <div>
                <p>CSSDeck © 2018.</p>
            </div>
        </footer>
        <!-- load jquery js -->
        <script src="http://cssdeck.com/assets/js/vendor/jquery.js"></script>
        <!-- bootstrap js -->
        <script src="http://cssdeck.com/assets/js/vendor/bootstrap.min.js"></script>
        <!-- main.js -->
        <script src="http://cssdeck.com/assets/js/front/main.js?v=36"></script>
    </body>
</html>
