<div style="min-height: 950px;" >

  <div class="page-title">
    <div class="title_left">
      <h3>คลังข้อสอบ</h3>
    </div>
    <div class="title_right">
      <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>จัดการข้อสอบ <small>สามารถเลือกจัดการข้อสอบ</small></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
            <table id="example" class="table table-bordered bordered table-striped table-condensed datatable" ui-jq="dataTable" ui-options="dataTableOpt">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ชื่อ</th>
                        <th>วิชา</th>
                        <th>จำนวน</th>
                        <th>ระยะเวลา</th>
                        <th>วันที่สอบ</th>
                        <th>ดาวน์โหลด</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    <!-- <tr ng-repeat="form in forms">
                        <th scope="row">{{ $index + 1 }}</th>
                        <td>{{ form.name }}</td>
                        <td>{{ form.subject }}</td>
                        <td>{{ form.question_amount }}</td>
                        <td>{{ form.time }}</td>
                        <td>{{ form.date }}</td>
                        <td>
                            <button type="button" class="btn btn-info" ng-click="load_pdf(form.slug)">PDF</button>
                        </td>
                        <td>
                            <button type="button" ng-click="update(form.slug)" class="btn btn-warning">เเก้ไข</button>
                            <button type="button" ng-click="delete(form.slug)" class="btn btn-danger">ลบ</button>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>


</div>
