<div class="" >

  <div class="page-title">
    <div class="title_left">
      <h3>เพิ่มรายการคำถาม</h3>
    </div>
    <div class="title_right">
        <div style="flex: 1" />
      <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
          <button ng-click="update()" class="btn btn-success" style="float: right;">อัพเดท</button>

      </div>
    </div>
  </div>
<div>
  <p style="width: 100%; text-align: right; margin-right: 40px; color: red" ng-if="error">{{ error }}</p>
</div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

  <div class="x_panel">
    <div class="x_title">
      <h2>รายละเอียดข้อสอบ <small>กรุณากรอกให้ครบทุกข้อ</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="wizard" class="form_wizard wizard_horizontal" style="width: 50%; margin: auto; margin-bottom: 30px">
            <ul class="wizard_steps">
                <li>
                    <a>
                        <span class="step_no">1</span>
                        <span class="step_descr">
                            Step 1<br />
                            <small>Step 1 สร้างแบบทดสอบ</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="step_no" >2</span>
                        <span class="step_descr">
                            Step 2<br />
                            <small>Step 2 เพื่มคำถาม เเละคำตอบ</small>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="step_no" style="background-color: #ccc" >2</span>
                        <span class="step_descr">
                            Step 3<br />
                            <small>Step 3 สำเร็จ</small>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End SmartWizard Content -->
        <div class="row">
            <div class="col-md-8" />
            <div class="col-md-4">
                <ul class="pagination">
                    <li ng-if="questions.length >= 1"><a>1</a></li>
                    <li ng-if="questions.length >= 11"><a>2</a></li>
                    <li ng-if="questions.length >= 21"><a>3</a></li>
                    <li ng-if="questions.length >= 31"><a>4</a></li>
                    <li ng-if="questions.length >= 41"><a>5</a></li>
                    <li ng-if="questions.length >= 51"><a>6</a></li>
                    <li ng-if="questions.length >= 61"><a>7</a></li>
                    <li ng-if="questions.length >= 71"><a>8</a></li>
                    <li ng-if="questions.length >= 81"><a>9</a></li>
                    <li ng-if="questions.length >= 91"><a>10</a></li>
                </ul>
            </div>
        </div>
        <div class="row" ng-repeat="question in questions">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="margin-bottom: 35px">
                    <div class="input-group">
                        <span class="input-group-addon">คำถาม {{ $index + 1 }}</span>
                        <input type="text" ng-model="question.name" class="form-control" name="msg" placeholder="เพิ่มคำถาม">
                    </div>
                    <div class="input-group" ng-repeat="(index, answer) in question.answers">
                        <span class="input-group-addon">
                            <input type="radio" ng-model="question.correct" value={{index+1}} ng-change="changeAnswer()" name={{$parent.$index}} aria-label="Checkbox for following text input">
                        </span>
                        <span class="input-group-addon">{{ question_label[index] }}</span>
                        <input type="text" class="form-control" ng-model="answer.name" aria-label="Text input with checkbox">
                    </div>
                </div>

            </div>
        </div>

    </div>
  </div>


</div>
