<div class="" >

  <div class="page-title">
    <div class="title_left">
      <h3>Create New Exercise</h3>
    </div>
    <div class="title_right">
        <div style="flex: 1" />
      <div class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
          <button ng-click="update()" class="btn btn-success" style="float: right;">Update</button>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

  <div class="x_panel">
    <div class="x_title">
      <h2>Choices Form <small>Add question and answer</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="row" ng-repeat="question in questions">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="margin-bottom: 35px">
                    <div class="input-group">
                        <span class="input-group-addon">คำถาม {{ question.id + 1 }}</span>
                        <input type="text" ng-model="question.name" class="form-control" name="msg" placeholder="เพิ่มคำถาม">
                    </div>
                    <div class="input-group" ng-repeat="(index, answer) in question.answers">
                        <span class="input-group-addon">
                            <input type="checkbox" ng-model="answer.check" aria-label="Checkbox for following text input">
                        </span>
                        <span class="input-group-addon">{{ question_label[index] }}</span>
                        <input type="text" class="form-control" ng-model="answer.name" aria-label="Text input with checkbox">
                    </div>
                </div>

            </div>
        </div>

    </div>
  </div>


</div>
