<div class="">
  <div class="page-title">
      <div class="title_left">
        <h3>
              Student Manament
              <small>
                  see the score or print barcode
              </small>
          </h3>
      </div>

    <!-- <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
        </div>
      </div>
    </div> -->
  </div>
  <div class="clearfix"></div>

  <div class="x_panel">
     <div class="x_title">
       <h2>Filter your students</h2>

       <div class="clearfix"></div>
     </div>
     <div class="x_content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sel1">ระดับชั้น</label>
                    <select class="form-control">
                            <option>ประถม</option>
                            <option>มัธยม</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sel1">ชั้น</label>
                    <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sel1">ห้องเรียน</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sel1">ปีการศึกษา</label>
                    <select class="form-control">
                        <option>2018</option>
                    </select>
                </div>
            </div>

         </div>
     </div>

    <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-10">

        </div>
    </div>
   </div>

  <div class="row">

    <div class="clearfix"></div>

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Search result <small></small></h2>

          <div class="clearfix"></div>
        </div>

        <div class="x_content">

          <p> <code> Select the students</code> that you want to print the barcode</p>

          <table class="table table-striped responsive-utilities jambo_table bulk_action">
            <thead>
              <tr class="headings">
                <th>
                  <input type="checkbox" id="check-all" class="flat">
                </th>
                <th class="column-title">Student ID </th>
                <th class="column-title">First name </th>
                <th class="column-title">Last name </th>
                <th class="column-title no-link last"><span class="nobr">Action</span>
                </th>
                <th class="bulk-actions" colspan="7">
                  <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                </th>
              </tr>
            </thead>

            <tbody>
              <tr class="even pointer" ng-repeat="student in students">
                <td class="a-center ">
                  <input type="checkbox" class="flat" name="table_records">
                </td>
                <td class=" ">{{ student.slug }}</td>
                <td class=" ">{{ student.firstname }}</td>
                <td class=" ">{{ student.lastname }}</td>
                <td class=" last"><a href="#">View</a>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

</div>
